<?xml version="1.0"?>
<launch>

    <!-- <node name="no1_srv_start_stop" pkg="leg_gazebo" type="no1_service_start_stop.py" output="screen"/> -->
    
    <node name="nhan_du_lieu" pkg="leg_gazebo" type="no2_subscribt_data_csv.py" output="screen"/>

    <node name="Tra_ve_trang_thai_mac_dinh" pkg="leg_gazebo" type="no2_service_tra_ve_mac_dinh.py" output="screen"/>
    
</launch>